* {
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
a {
    text-decoration: none;
}
.container {
    max-width:1200px;
    margin:0 auto;
}
/*Navigacija*/
nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color:white;
    border-bottom: 1px lightgrey solid;
    box-shadow:  0px 1px 5px  lightgrey;
    z-index: 10;
}
.logo {
    position: absolute;
    padding: 13px;
}
.logo img {
    height: 60%;
}
.menu {

}
.menu ul {
    text-align:center;
}
.menu ul li {
    text-transform: uppercase;
    display: inline;
    padding-right:5px;
}
.menu ul li a{
    text-decoration: none;
    color:black;
    font-size:20px ;
    font-weight: 600;
    line-height: 60px;
    padding: 10px;
}
.menu ul li a:hover {
    color:purple;
}
/* Header */
header img {
    margin-top: 60px;
    width:100%;
}
header h1 { 
    position: absolute; 
    top: 20%; 
    left: 20%; 
    width: 400px; 
    font-size: 50px;
    font-weight: 800;
}
h1 span {
    color:purple;
}

header a {
    text-transform: uppercase;
    text-decoration: none;
    font-size:16px;
    text-align: center;
    color:white;
    font-weight: 600;
    position: absolute; 
    bottom: 15%; 
    left: 20%; 
    width: 200px; 
    border: solid 2px white;
    border-radius:5px;
    padding:15px;
}
header a:hover {
    background-color:purple;
}
/* Main */
main h3 {
    font-size: 56px;
    margin: 15px 0 15px 0;
}

main h3:hover {
    color:purple;
}
main p {
    font-size: 22px;
}

.first-col {
    display: block;
    margin: 50px auto;
    max-width: 1400px;
    height: 600px;
    background-image: url(https://www.cpartner.lt/file/repository/projects/project_01_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.text {
    width:40%;
    margin: 100px;
    position: absolute;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color:red;
    font-weight: 800;
    width: 200px; 
    border: solid 2px purple;
    border-radius:5px;
    margin-top: 15px;
    padding:15px;
}
.btn:hover {
    color:white;
    background-color:purple;
}
.phone {
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.tablet {
    position:absolute;
    height: 80%;
    bottom: 0px;
    right: 50px;
}
.scnd-col {
    display:flex;
    justify-content: space-between;
    margin: auto;
    max-width:1200px;
}
.scnd-col-chld {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 48%;
    height: 650px;
    background-repeat: no-repeat;
}
.bg-one {
    background-image: url(https://www.cpartner.lt/file/repository/projects/project_02_bg.jpg);
    background-position:right;
}
.bg-two {
    background-image: url(https://www.cpartner.lt/file/repository/projects/project_03_bg.jpg);
    background-position:left;
}
.article {
    width: 58%;
}

/* footer */
footer {
    background: url(https://www.cpartner.lt/Theme/cpartner/assets/img/bg_footer.jpg) no-repeat;
    background-size: cover;
    margin-top:50px;
    padding: 100px 0 50px 0;
}

.col{
    margin: 50px 0;
    display:flex;
    justify-content: space-between;
}

.col-4-chld{
    flex-basis: 20%;
    text-align: center;

}

.col-4-chld p, .col-3-chld p{
    color:white;
    font-size:18px;
}

.col-4-chld h4{
    color:white;
    font-size:32px;
}

.col-3-chld {
    flex-basis: 30%;
    text-align: center;
}
.col-3-chld h5 {
    color:purple;
    font-size:200px;
    font-weight: 100;
}

.col-footer-chld {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
}

.col-footer-chld p{
    color:white;
    text-align: center;
    flex-basis: 35%;
}

.col-footer-chld a{
    color:white;
    font-size: 32px;
    font-weight: 700;
    margin:auto;
    border-bottom: 2px solid grey;
}
.col-footer-chld a:hover {
    color:purple;
}
.col-footer-chld img {
    margin: auto;
    height: 40px;
}

@media only screen and (max-width: 768px) {
.col {
    flex-direction: column;
 }
.col-footer-chld {
   box-sizing: border-box;
    flex-basis: 20%;
}
}

